#.venv virtual environment
.venv/

# Python caches
__pycache__/
*.py[cod]

# Byte-compiled / optimized / DLL files
*.so
*.dylib

# Distribution / packaging
build/
dist/
*.egg-info/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit specific
.streamlit/
